.viewType {
  display: flex;
  justify-content: end;
}

.monthPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.headerPagination {
  min-width: 18rem;
  text-align: center;
  margin: 0;
}

.paginationButton {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.good {
  background-color: green;
}

.late {
  background-color: yellow;
}

.absent {
  background-color: red;
}
