.viewType {
  display: flex;
  justify-content: center;
}

.monthPagination, .calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.headerPagination {
  min-width: 18rem;
  text-align: center;
  margin: 0;
}

.paginationButton {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.good {
  background-color: #24EF06 !important;
  /* color: #000000;  optional */
}

.late {
  background-color: #FF9D2B !important;
  /* color: #000000;  optional */
}

.absent {
  background-color: #F22F41 !important;
  /* color: #000000;  optional */
}

.statusRow {
  display: flex;
  gap: 5px;
}

.barBG {
  width: 7px;
}