.link-card {
    position: relative;
  }
  
  .site-name-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .site-name-overlay.visible {
    opacity: 1;
  }
  