:root{
  --base: #016B83;
  --darkest: #330000;
  --dark: #400D0D;
  --light: #732E2E;
  --lightest: #A66363;
  --black: #000000;
  --white: #FFFFFF;
  --mute: #016B83;
  --good: #24EF06;
  --bad: #F22F41;
  --extra-accent: #6D5FF5;
  
  --brand-color-1: #F3F3F3;
  --brand-color-2: #383C3F;
  --brand-color-3: #016B83;
  --brand-color-accent: #FFD082;
  --muted: #516473;
}

*{
  font-family: 'Roboto', sans-serif;
}
.muted{
  color: var(--muted) !important;
}
.white{
  color:var(--brand-color-1) !important;
}
.very-very-small{
  font-size: 6.55px !important;
}
.very-small{
  font-size: 8.19px !important;
}
.smallest{
  font-size: 10.24px !important;
}
.small{
  font-size: 12.8px !important;
}
.brand-text-white{
  color:var(--brand-color-1);
}
a{
  font-size: 16px !important;
}
.anchor-underline{
  font-size: 16px !important;
  color: var(--brand-color-3) !important;
  text-decoration: underline !important;
}
span{
  font-size: 16px !important;  
}
p{
  font-size: 16px !important;  
}
h6{
  font-size: 20px !important;  
}
h5{
  font-size: 25px !important;  
}
h4{
  font-size: 31.25px !important;  
}
h3{
  font-size: 39.06px !important;  
}
h2{
  font-size: 48.83px !important;  
}
h1{
  font-size: 61.04px !important;  
}
.navbar-min-height{
  min-height: 68px !important;
}
.navbarContainer {
  padding-right: 0;
  border-radius: 3px;
  background-color: var(--base);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.sidenavbar {
  position: sticky;
  top: 15%; 
  max-width: 246px;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: var(--brand-color-2);
  background-color: var(--white);
  transition: left 0.3s ease;
  /* z-index: 1000; */
}

.quick-link-bar {
  position: sticky;
  top: 15%; 
  max-width: 246px;
  border: solid;
  padding: 2px;
  border-width: 1px;
  border-radius: 8px;
  border-color: var(--brand-color-2);
  background-color: var(--white);
  transition: left 0.3s ease;
  /* z-index: 1000; */
}

.sidenavbar-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.sidenavbar-content {
  padding: 20px;
}

.sidenavbar a {
  display: block;
  color:var(--black);
  text-decoration: none;
  margin-bottom: 10px;
}

.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin-top: 2rem;
  gap: 25px;
  /* border: solid; */
  /* border-width: 1px;
  border-radius: 8px;
  border-color: var(--brand-color-2);
  background-color: var(--white); */
}

.sidebar {
  max-width: 300px;
  flex-shrink: 0;
}

.mainContent {
  flex-grow: 1;
  padding: 40px 60px;
  border: 1px solid #000000;
  border-radius: 8px;
  height: max-content;
}

.linksbar {
  flex-shrink: 1;
}

/* Add other styles as needed */
.cursor-pointer{
  cursor: pointer;
}
.linkStyle {
  text-decoration: none;
  color: inherit;
}

.custom-search-input:focus {
  border-width: 1px !important; /* Adjust the thickness as needed */
  box-shadow: none !important;
  border-color: var(--mute) !important;
}

.hsq-border{
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: var(--brand-color-2);
}
.hsq-border-capsule{
  border: solid;
  border-width: 1px;
  border-radius: 25px;
  border-color: var(--brand-color-2);
}

.custom-search-input:focus {
  border-width: 1px !important; /* Adjust the thickness as needed */
  box-shadow: none !important;
  border-color: var(--brand-color-2) !important;
}

.button-bg{
  background-color: var(--base) !important;
  border-radius: 8px !important;
}
.button-cancel{
  background-color: orange !important;
  border-color: orange !important;
  border-radius: 8px !important;
}

.custom-swal-title {
  font-size: 31.25px !important;
}
.custom-swal-confirm-button{
  background-color: var(--base) !important;
  border: none !important;
  border-color:  var(--base) !important;
  box-shadow: none !important;
}


/* Login.css */

.animated-background {

  width: 100%;
  height: 100%;
  z-index: -1; /* Place the background behind other elements */
  animation: gradientAnimation 5s ease infinite;

  /* Customize the gradient colors and direction */
  background: linear-gradient(45deg, #016B83,#F3F3F3 , #016B83); /* Use the specified colors */

  /* Add a subtle gradient animation for a dynamic effect */
  background-size: 200% 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* for article editor */
.bold-italic-buttons {
  margin-top: 10px;
}

.bold-italic-buttons button,
.text-align-buttons button {
  margin-right: 10px;
}

.article-editor {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.text-align-buttons {
  margin-top: 10px;
}

.swal-red-button {
  background-color: #F22F41 !important;
  color: #ffffff; /* Set text color to white or any contrasting color */
  border: none !important;
  box-shadow: none !important;
}



.fade-in-out-text {
  position: absolute;
  top: 240px;
  left: 550px;
  animation: fadeInOut 1s infinite alternate; /* Adjust the duration as needed */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .unselectable {
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
}
 */

/* ArticleViewer.css */

.background-style {
  background-color: #ffffff; /* Set your preferred background color */
  border-radius: 8px; /* Add rounded corners for a clean look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.background-style:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Increase shadow on hover for interactive feel */
}

.content-background-style {
  background-color: #ffffff; /* Set your preferred background color */
  border-radius: 8px; /* Add rounded corners for a clean look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.content-background-style:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Increase shadow on hover for interactive feel */
}



/* Article Images */
/* Style for the fullscreen overlay */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Style for the close button in the fullscreen overlay */
.close-button {

  font-size: 16px !important;
  color: #fff;
  cursor: pointer;
}

/* Article Images */


/* Post form modal */
.form-container-enter {
  animation: form-container-entry 0.5s ease-out;
}

@keyframes form-container-entry {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
/* Post form modal */


/* Pagelink - pagination */
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #016B83 !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #016B83 !important;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  color: #fff !important;
  background-color: #016B83 !important;
  box-shadow: none !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: #016B83 !important;
  border-color: #016B83 !important;
}
/* Pagelink - pagination */

.linkStyle {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer !important;
}

.general-center{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.borderRadius-8{
  border-radius: 8px;
}

.borderRadius-5{
  border-radius: 8px;
}

.react-calendar__tile {
  margin: 3px !important;
  flex: 0 0 12.550% !important;
}

.react-calendar__navigation {
  gap: 3px;
}